[submodule "lib/kunit"]
	path = lib/kunit
	url = https://github.com/cladam/kunit.git
[submodule "lib/klap"]
	path = lib/klap
	url = https://github.com/cladam/klap.git
[submodule "lib/hica-lisp"]
	path = lib/hica-lisp
	url = https://github.com/cladam/hica-lisp.git
[submodule "lib/hml"]
	path = lib/hml
	url = https://github.com/cladam/hml.git
